.button {
  padding: 21px 53px;
  color: var(--color-secondary-1);
  background-color: var(--color-brand-1);
  transition: opacity var(--transition-duration-basic)
    var(--transition-timing-function-basic);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      opacity: 0.85;
    }
  }
}

.button_small {
  padding-top: 15px;
  padding-bottom: 15px;
}