@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo__title {
  max-width: 100px;
  text-transform: uppercase;
  color: var(--color-brand-2);
}

.logo__img {
  animation: rotate infinite 10s linear;
}