.order {
  position: relative;
  display: flex;
  max-width: var(--container-basic);
  margin-right: auto;
  margin-left: auto;
}

.order__text {
  max-width: 430px;
}

.order__title {
  color: var(--color-brand-1);
}

.order__title_accent {
  font-weight: inherit;
  color: var(--color-primary-2);
}

.order__description {
  margin-top: 61px;
  color: var(--color-primary-2);
}

.order__form {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  margin-top: 3.9%;
  margin-left: 6.7%;
}

.order__bg-img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(31%, -12%);
  width: 410px;
  height: 454px;
  background: url(../../assets/images/pizzzzza.png) center no-repeat;
}
