@font-face {
  font-family: "Muller";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Muller-Trial-Fat.woff2) format("woff2"),
    url(../assets/fonts/Muller-Trial-Fat.woff) format("woff"),
    url(../assets/fonts/Muller-Trial-Fat.otf) format("otf"),
    url(../assets/fonts/Muller-Trial-Fat.ttf) format("truetype");
}

@font-face {
  font-family: "Muller";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Muller-Trial-ExtraBold.woff2) format("woff2"),
    url(../assets/fonts/Muller-Trial-ExtraBold.woff) format("woff"),
    url(../assets/fonts/Muller-Trial-ExtraBold.otf) format("otf"),
    url(../assets/fonts/Muller-Trial-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Muller-Trial-Bold.woff2) format("woff2"),
    url(../assets/fonts/Muller-Trial-Bold.woff) format("woff"),
    url(../assets/fonts/Muller-Trial-Bold.otf) format("otf"),
    url(../assets/fonts/Muller-Trial-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/Muller-Trial-Regular.woff2) format("woff2"),
    url(../assets/fonts/Muller-Trial-Regular.woff) format("woff"),
    url(../assets/fonts/Muller-Trial-Regular.otf) format("otf"),
    url(../assets/fonts/Muller-Trial-Regular.ttf) format("truetype");
}

.h1 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.06em;

  @media screen and (max-width: 1919px) {
    font-size: calc(12px + (12 + 12 * 0.7) * (100vw - 320px) / 1919);
  }
}

.h2 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 2.8125rem;
  line-height: calc(55 / 45 * 100%);

  @media screen and (max-width: 1919px) {
    font-size: calc(22.5px + (22.5 + 22.5 * 0.7) * (100vw - 320px) / 1919);
  }
}

.h3 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.1875rem;
  line-height: calc(55 / 35 * 100%);

  @media screen and (max-width: 1919px) {
    font-size: calc(17.5px + (17.5 + 17.5 * 0.7) * (100vw - 320px) / 1919);
  }
}

.h4 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 0.02em;

  @media screen and (max-width: 1919px) {
    font-size: calc(8px + (8 + 8 * 0.7) * (100vw - 320px) / 1919);
  }
}

.t1 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 2.1875rem;
  line-height: calc(45 / 35 * 100%);

  @media screen and (max-width: 1919px) {
    font-size: calc(17.5px + (17.5 + 17.5 * 0.7) * (100vw - 320px) / 1919);
  }
}

.t2 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;

  @media screen and (max-width: 1919px) {
    font-size: calc(9px + (9 + 9 * 0.7) * (100vw - 320px) / 1919);
  }
}

.t3 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.02em;

  @media screen and (max-width: 1919px) {
    font-size: calc(8px + (8 + 8 * 0.7) * (100vw - 320px) / 1919);
  }
}

.t3 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.02em;

  @media screen and (max-width: 1919px) {
    font-size: calc(8px + (8 + 8 * 0.7) * (100vw - 320px) / 1919);
  }
}

.t4 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: calc(18 / 14 * 100%);

  @media screen and (max-width: 1919px) {
    font-size: calc(7px + (7 + 7 * 0.7) * (100vw - 320px) / 1919);
  }
}

.t5 {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: calc(24 / 16 * 100%);

  @media screen and (max-width: 1919px) {
    font-size: calc(8px + (8 + 8 * 0.7) * (100vw - 320px) / 1919);
  }
}

.b {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;

  @media screen and (max-width: 1919px) {
    font-size: calc(8px + (8 + 8 * 0.7) * (100vw - 320px) / 1919);
  }
}

.i {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: calc(45 / 18 * 100%);

  @media screen and (max-width: 1919px) {
    font-size: calc(9px + (9 + 9 * 0.7) * (100vw - 320px) / 1919);
  }
}
